.woodpecker-connector-shortcode .woodpecker-connector-group {
  padding-bottom: 10px;
}

.woodpecker-connector-shortcode .woodpecker-connector-group .woodpecker-connector-control {
  padding-left: 15px;
  padding-right: 15px;
}

.woodpecker-connector-shortcode .woodpecker-connector-btn {
  background-color: transparent;
  padding: 6px 15px;
  outline: none;
  border: 1px solid #d2d2d2;
  cursor: pointer;
}
