/* fonts */
@font-face {
  font-family: 'Avignon Book';
  src: url('https://app.woodpecker.co/css/fonts/avignon-regular-webfont.eot');
  src: url('https://app.woodpecker.co/css/fonts/avignon-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('https://app.woodpecker.co/css/fonts/avignon-regular-webfont.woff') format('woff'),
  url('https://app.woodpecker.co/css/fonts/avignon-regular-webfont.ttf') format('truetype'),
  url('https://app.woodpecker.co/css/fonts/avignon-regular-webfont.svg#avignonbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avignon Demi';
  src: url('https://app.woodpecker.co/css/fonts/avignon-demi-webfont.eot');
  src: url('https://app.woodpecker.co/css/fonts/avignon-demi-webfont.eot?#iefix') format('embedded-opentype'),
  url('https://app.woodpecker.co/css/fonts/avignon-demi-webfont.woff') format('woff'),
  url('https://app.woodpecker.co/css/fonts/avignon-demi-webfont.ttf') format('truetype'),
  url('https://app.woodpecker.co/css/fonts/avignon-demi-webfont.svg#avignondemi') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* content */
.woodpecker-options-wrap{
  margin-top: 20px;
  margin-right: 20px;
  background-color: #0b0204;
  font-family: 'Avignon Book';

  img{
    max-width:100%;
    height: auto;
  }
  h1{
    color: #fff;
    font-weight: 300;
    font-family: 'Avignon Demi';
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    line-height: 1em;
    padding-left: 10px;
  }
  .nav-tab-wrapper,
  .wrap h2.nav-tab-wrapper,
  h1.nav-tab-wrapper{
    border: none;
  }

  .nav-tab,
  .nav-tab:focus,
  .nav-tab:focus:active,
  .nav-tab:hover{
    background-color: transparent;
    font-size: 16px;
    border: none;
    color: #fff;
    font-weight: 300;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    outline: none !important;
    position: relative;
    padding-bottom: 15px;
    box-shadow: none;
  }

  .nav-tab:before {
    outline: none !important;
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    left: 0;
    background-color: #ec1940;
    opacity: 0.3;
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }
  .nav-tab:hover:before,
  .nav-tab.nav-tab-active:before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .woodpecker-header{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    img{
      float: left;
      margin-right: 20px;
    }
    .woodpecker-header-content{
      display: inline-block;
    }
  }
}
.toplevel_page_woodpecker-connector{
  .wp-menu-image{
    text-align: center !important;
    display: block;
    padding: 0;
    margin: 0;
    img{
      display: block;
      width: auto;
      max-height: 100%;
      margin: 0 auto !important;
      padding: 5px 0 0 0 !important;
      height: 25px;
    }
  }
}
#woodpecker-options{
  .nav-tab-wrapper{
    margin-bottom: 0px !important;
  }
  .col-container{
    background-color: #fff;
    border:1px solid #ccc;
    padding: 20px;
    padding-top: 50px;
    .col-row{
      display: flex;
    }
  }
  .woodpecker-help-trigger{
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
  }

  /* content */
  .col-wrap{
    p.submit {
      margin: 0;
      padding: 0;
    }
  }
  .col-left{
    width: 25%;
    max-width: 200px;
  }
  .col-right{
    width: 100%;
    max-width: 1000px;
  }
  fieldset{
    margin-bottom: 15px;
    position: relative;
    label{
      display: block;
      padding-bottom: 5px;

    }
  }
  .form-table th{
    padding: 10px 15px;
  }

  /* settings */
  #show-api{
    position: absolute;
    bottom: 5px;
    right: 25px;
    cursor: pointer;
  }
}

